html {
    background: #cfed7f;
    background-image: radial-gradient(70% 50% ellipse at center top, rgb(33, 22, 211) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(70% 50% ellipse at center bottom, #432496 0%, #af6767 100%);
    background-attachment: fixed;
    color: #352baa;
}

button {
    width: 70px;
    height: 70px;
    font-size: 20px;
}

#screen {
    width: 218px;
    height: 70px;
    text-align: right;
    color: #e3dfea;
    border: none;
    line-height: 69px;
    display: inline-block;
    vertical-align: bottom;
   }


.row {
    padding-top: 5px;
}

#calculator {
    text-align: center;
    margin-top: 70px;
    height: 500px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}




